.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.player {
   border: solid black 2px;
   padding: 0px;
   margin: 0px;
   text-align: center;
}

.player1 {
   margin: 0px;
}

.player2 {
   margin-bottom: 3%;
}

.vs{
    text-align: center;

    margin: 0px;
}

.no-bullets {
    list-style-type: none;
}

.delete {

}

.input-field {

}

.player-list {

}

body{
    font-family: 'Ubuntu', sans-serif;
}

.contain {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}
